@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing:border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 177, 153);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    letter-spacing: 3px;
}

.pokemon-container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    width: 80vw;
}

.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200;
    height: 300;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    cursor: pointer;
    padding: 10px;
}

.pokemon .info {
    text-align: center;
}

.pokemon .info .number {
    background-color: rgba(0,0,0,0.2);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.pokemon .info .name {
    text-transform: capitalize;
}
